.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search-form input {
  margin-right: 10px;
  width: 50%;
}

.no-posts {
  text-align: center;
}

.no-posts p {
  margin-bottom: 1.5em;
}

.no-posts a {
  padding: 10px 25px;
  font-weight: bold;
  text-decoration: underline;
}