.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-1);
  background-color: var(--color-3);
}

.footer h3 {
  margin-bottom: 2em;
}