@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --color-1: #F3F4ED;
  --color-2: #536162;
  --color-3: #424642;
  --color-4: #C06014;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-1);
  font-family: 'Open Sans', sans-serif;
}

a, nav button {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

li {
  list-style: none;
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  font-family: inherit;
}

input:focus, textarea:focus {
  outline: none;
}